/CH5/CH501/build-ImageProcessor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/
/CH5/CH501/build-ImageProcessor-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/
/CH5/CH501/ImageProcessor/ImageProcessor.pro.user.49007d5.4.8-pre1
/.idea/
